*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap:30px 10px;
    place-content: center;
}
/* start styling */
.f {
    position: relative;
}
.f .contact {
    position: absolute;
    position: absolute;
    padding: 4px 15px;
}
.contact i {
    margin: 4px;
    color: dodgerblue;
    background: #eee;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-grid;
    place-content: center;
    cursor: pointer;
    font-size: 11px;
}
.f .name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px 0px;
    border-bottom: 1px solid #ccc;
}
.name h3 {
    font-size: 16px;
    margin: 7px 0px;
}
.name img {
    width: 80px;
    height: 85px;
    border-radius: 50%;
}
.name p {
    font-size: 10px;
    color: #777;
}
.f .info{
    padding: 20px 15px;
    border-bottom:1px solid #ccc;
}
.info p {
    margin-bottom:6px;
}
.info span {
    font-size: 13px;
}
.info i {
    width: 30px;
    font-size: 16px;
    display: inline-grid;
    place-content: center;

}
.btns {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btns span {
    font-size: 10px;
    color: #777;
}
.btns a {
    color: #fff;
    background: dodgerblue;
    font-size: 13px;
    padding: 4px 6px;
    border-radius: 6px;
}
.btns button {
    color: #fff;
    border: 0;
    background: rgba(255, 0, 0, 0.894);
    padding: 4px 6px;
    border-radius: 6px;
    cursor: pointer;
}
/* we will need JS to removeany friend when clicking in the remove button */